/*Temp selector to make images workable*/
img {
    width: 300px;
    height: 300px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    /* flex: 1; 
    Might be needed to have page grow and scale correctly - Revisit) */
}