/*Temp selector to make images workable*/
img {
    width: 300px;
    height: 300px;
}

img.showcase-card {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    /* flex: 1; 
    Might be needed to have page grow and scale correctly - Revisit) */
}

.hero {
    background-color: #1f2937;
    /* Added colour early to break the page up visually*/
}

.header-banner {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

div.header-banner > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}
 /*Header links*/
div.header-banner > ul > li > a {
    font-size: 18px;
    color: #E5E7EB;
}

.below-header-content {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    padding: 64px;
}

.below-header-text {
    width: 400px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
}

div.below-header-text > h2 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

div.below-header-text > p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

button.sign-up {
    display: flex;
    align-self: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.below-header-image {
    display: flex;
    align-items: center;
    height: 200px;
    width: 400px;
}

div.below-header-image > img {
    height: 100%;
    width: 100%;
}

.showcase {
    display: flex;
    flex-flow: column nowrap;
}

.showcase-title {
    display: flex;
    justify-content: center;
}

div.showcase-title > h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.showcase-card-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 120px;
}

div.showcase-card-container > div > img {
    border-color: #3882f6;
    border-radius: 20px;
}

div.showcase-card-container > div > p {
    font-size: 18px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 120px;
    padding-bottom: 120px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    width: 1000px;
}

.signiture {
    align-self: flex-end;
    margin-right: 270px;
    font-size: 18px;
    font-weight: bolder;
    color: black;
}

.social-media-box {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    /* Added colour early to break the page up visually*/
}