/*Temp selector to make images workable*/
img {
    width: 300px;
    height: 300px;
}

img.showcase-card {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    /* flex: 1; 
    Might be needed to have page grow and scale correctly - Revisit) */
}

.hero {
    background-color: #1f2937;
    /* Added colour early to break the page up visually*/
}

.header-banner {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

div.header-banner > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}
 /*Header links*/
div.header-banner > ul > li > a {
    font-size: 18px;
    color: #E5E7EB
}

.below-header-content {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 64px;
}

.below-header-text {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

div.below-header-text > h2 {
    margin: 0;
    padding: 15px;
}

div.below-header-text > p {
    height: 50px;
    width: 350px;
    margin: 0;
    padding: 15px;
}

button.sign-up {
    display: flex;
    align-self: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
}

.below-header-image {
    height: 200px;
    width: 400px;
}
.showcase {
    display: flex;
    flex-flow: column nowrap;
}

.showcase-title {
    display: flex;
    justify-content: center;
}

.showcase-card-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-box {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    /* Added colour early to break the page up visually*/
}